/* ================================= 
  Globals
==================================== */
*,
*::before,
*::after {
  box-sizing: border-box;

  /* border: 2px solid rgb(226, 1, 1);
  border-style: dashed; */
}

/* ================================= 
  Base Element Styles
==================================== */
body {
  line-height: 1.6;
  color: #3a3a3a;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #3a3a3a;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

figure {
  margin: 0;
  padding: 0;
}

/* ================================= 
  Base Layout Styles
==================================== */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header-container {
  background: white;
}

.header-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  
  width: 90%;
  margin: auto;
}

.header-item {
}

.site-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-logo img {
  height: 2em;
  margin-right: 5px;
}

.header-title {
}

.header-nav {
  display: flex;
  flex-direction: column;
  -ms-flex-align: center;
}

.header-nav-item {
  padding: 5px 10px;
  color: #797e83;

  border-bottom: solid 1px #ebecec;
  display: block;
}

.highlight {
  color: #0b0b0b;
  border-bottom: solid 1px #ffa954;
}

.header-nav-item:hover {
  color: #0b0b0b;
  border-bottom: solid 1px #ffa954;
}

.main-container {
  flex: 1;
}

.dice-game-container {
  display: none;
  
}

.section-bg-grey {
  background: #f8f7f7;
}

.section-container{
  padding-bottom: 50px;
}
.section-content {
  margin: auto;
  padding: 5px;
  width: 90%;
}

.border-break {
  padding-top: 20px;
  border-top: solid 2px #ffa954;
}

.section-content img {
  max-width: 100%;
  margin: auto;
  display: block;
}

.section-content ul li {
  list-style-type: initial;
  list-style-position: inside;
}

.footer-container {
  background: rgb(36, 36, 36);
  flex-shrink: 0;
  text-align: center;
}

.footer-content {
  padding: 50px 0px;
  margin: auto;
  width: 90%;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-nav-item {
  color: rgb(214, 214, 214);
  padding: 10px;
  display: block;
  border-bottom: solid 1px rgb(102, 101, 101);
}

.footer-nav-item:hover {
  color: white;
  border-bottom: solid 1px #ffa954;
}

@media (min-width: 769px) {
  .header-container {
    z-index: 10;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    position: fixed;
    width: 100%;
  }
  .header-content {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 70%;
    padding: 0;
    max-width: 1060px;
  }

  .site-logo {
    margin-right: Auto;
  }
  .site-logo h1 {
    padding: 0;
    margin: 0;
  }

  .header-nav {
    flex-direction: row;
  }

  .header-nav-item {
    border-bottom-color: transparent;
  }

  .highlight {
    border-bottom-color: #ffa954;
  }

  .spacer {
    width: 100%;
    height: 50.909px;
  }

  .main-container {
  }

  .section-content {
    width: 70%;
    max-width: 1060px;
  }

  .section-content {
    list-style-type: inherit;
  }

  /* ================================= 
  Dice game  
==================================== */
  .dice-game-container {
    display: block;
    
    background:rgb(78, 78, 78);
    width: 100%;
    position: relative;
  }

  .player-container {
    display: flex;
    justify-content: space-around;
    color: white;
    text-align: center;
  }

  .player-0-panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
  }
  .player-1-panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
  }

  .active-player{
    
    background: rgb(70, 69, 69);
  }
  .active-player .player-name::after{
    
    content: "\2022";
    font-size: 47px;
    position: absolute;
    color: #ffa954;;
    padding-left: 8px;
    
  }


  .player-name {
    font-size: 3em;
    margin-top: 80px;
  }


  .player-score {
    font-size: 3em;
    margin-bottom: 80px;
  }

  .player-current-box {
    background: #ffa954;
    padding: 10px 40px;
    margin-bottom: 80px;
  }

  .player-current-label {
    color: rgb(70, 69, 69);
  }

  .player-current-score {
    font-size: 2em;
  }

  .active {
  }

  .dice-btn {
    position: absolute;
    width: 400px;
    left: 50%;
    transform: translateX(-50%);
    color: #ffa954;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
  }
  .dice-btn i{
    
  }
  .dice-btn:hover {
    font-weight: 600;
  }
  .dice-btn:hover i {
    margin-right: 20px;
  }

  button i, form i {
    
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -7px;
    transition: margin 0.3s;
    
}



  .dice-btn:focus {
    outline: none;
  }
  .btn-new {
    top: 45px;
  }
  .btn-roll {
    top: 320px;
  }
  .btn-hold {
    top: 370px;
  }

  .dice-game-small {
    display: none;
  }

  .dice{
    width:12%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.0, 1.0);
    top:200px;
    border-radius: 10px;
    transition: box-shadow 0.2s, width 0.1s;
    -webkit-backface-visibility: hidden;


  }

  .dice:hover{
    box-shadow: 0px 0px 20px 2px rgba(255,170,84);
    width: 13%;
  }

  form{
    text-align:center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:400px;
    width:400px;
    color: orange;
  }

 /* ==================================== */


  .footer-content {
    width: 70%;
    max-width: 1060px;
  }
  .footer-nav {
    flex-direction: row;
  }

  .footer-nav-item {
    border-bottom-color: transparent;
  }
}
